@font-face {
  font-family: "ali-iconfont"; /* Project id 5189774 */
  src: 
  url('./assets/font/iconfont.woff2') format('woff2'),
  url('./assets/font/iconfont.ttf') format('truetype');
}

.ali-iconfont {
  font-family: "ali-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ali-icon-xiangshangshouqi:before {
  content: "\e8f5";
}

.ali-icon-fanhui:before {
  content: "\e8a4";
}

.ali-icon-shibai:before {
  content: "\e8a9";
}

.ali-icon-qianjin:before {
  content: "\e619";
}

.ali-icon-jiazai_shuang:before {
  content: "\eaf4";
}

.ali-icon-jinggao:before {
  content: "\e60c";
}

.ali-icon-zhankai:before {
  content: "\e610";
}

.ali-icon-chenggong:before {
  content: "\e8ad";
}

.ali-icon-bangzhu:before {
  content: "\e601";
}

.ali-icon-chakan2:before {
  content: "\e602";
}

.ali-icon-shaixuan:before {
  content: "\e74a";
}

.ali-icon-sousuo:before {
  content: "\e752";
}

.ali-icon-shuaxin:before {
  content: "\e782";
}

.ali-icon-wxbzhanghu:before {
  content: "\e61e";
}

.ali-icon-tianjia:before {
  content: "\e622";
}

.ali-icon-daoru:before {
  content: "\e61a";
}

.ali-icon-zhexiantu-xianxing:before {
  content: "\e904";
}

.ali-icon-leidatu:before {
  content: "\e669";
}

.ali-icon-sandiantu:before {
  content: "\e679";
}

.ali-icon-baocun:before {
  content: "\e603";
}

.ali-icon-wenjianjia:before {
  content: "\e604";
}

.ali-icon-shanchu:before {
  content: "\e718";
}

.ali-icon-touxiang:before {
  content: "\e60d";
}

.ali-icon-zhuzhuangtu:before {
  content: "\e770";
}

.ali-icon-taiyang:before {
  content: "\e635";
}

.ali-icon-yanjing_yincang:before {
  content: "\eb45";
}

.ali-icon-guanyu_o:before {
  content: "\eb77";
}

.ali-icon-xiazai:before {
  content: "\e647";
}

.ali-icon-duihuaxiaoxi:before {
  content: "\e621";
}

.ali-icon-youxiang:before {
  content: "\e664";
}

.ali-icon-prompt:before {
  content: "\e71b";
}

.ali-icon-24gl-fileText:before {
  content: "\eabe";
}

.ali-icon-daochu:before {
  content: "\e636";
}

.ali-icon-shouji:before {
  content: "\e853";
}

.ali-icon-bingtu:before {
  content: "\e605";
}

.ali-icon-shangchuan:before {
  content: "\e613";
}

.ali-icon-ziyuan:before {
  content: "\e611";
}

.ali-icon-ziyuan1:before {
  content: "\e612";
}

.ali-icon-ziyuan2:before {
  content: "\e617";
}

.ali-icon-fuzhi:before {
  content: "\e606";
}

.ali-icon-loudoutu:before {
  content: "\e8bf";
}

.ali-icon-bianji:before {
  content: "\e8ac";
}

.ali-icon-gengduo:before {
  content: "\e8af";
}

.ali-icon-quzhong:before {
  content: "\e6ff";
}

.ali-icon-paixu:before {
  content: "\e7e9";
}

.ali-icon-yueliang:before {
  content: "\e67b";
}

.ali-icon-tiwenquestion:before {
  content: "\e7cd";
}

.ali-icon-icon-trend:before {
  content: "\e607";
}

.ali-icon-zhutise:before {
  content: "\e643";
}

.ali-icon-yuyan:before {
  content: "\e618";
}

.ali-icon-hebing:before {
  content: "\e63a";
}

.ali-icon-tuichudenglu:before {
  content: "\e763";
}

.ali-icon-baobiaochaxun:before {
  content: "\e631";
}

.ali-icon-moxingku:before {
  content: "\e60a";
}

.ali-icon-chaifen:before {
  content: "\e947";
}

.ali-icon-zhongxinshengcheng:before {
  content: "\e60b";
}

.ali-icon-filetype-csv:before {
  content: "\e836";
}

.ali-icon-filetype-pdf:before {
  content: "\e838";
}

.ali-icon-filetype-xls-1:before {
  content: "\e83a";
}

.ali-icon-zhinengfenxi:before {
  content: "\e630";
}

.ali-icon-shezhi:before {
  content: "\e600";
}

.ali-icon-liebiao:before {
  content: "\ec6b";
}

.ali-icon-shouye:before {
  content: "\e608";
}

.ali-icon-AI--:before {
  content: "\e72f";
}

.ali-icon-wode:before {
  content: "\e609";
}

.ali-icon-xiaoxi:before {
  content: "\e8bd";
}

.ali-icon-he_18gongzuotai:before {
  content: "\e707";
}

.ali-icon-shujufenxi:before {
  content: "\e688";
}

