.analysis-page {
  min-height: 100vh;
  background: #F1ECE0;
}

.analysis-page__my-btn {
  width: 72rpx;
  height: 72rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36rpx;
}
